<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Luminote
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Luminote</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card [routerLink]="['/tabs/write-voice-of-the-image']" style="cursor: pointer">
    <img alt="Silhouette of mountains" src="/assets/artworks/daily_challenges/1.png" />
    <ion-card-header>
      <ion-card-title>
        <h1><ion-icon name="flame-sharp"></ion-icon> Daily Challenge</h1>
      </ion-card-title>
      <!--<ion-card-subtitle></ion-card-subtitle>-->
    </ion-card-header>

    <ion-card-content>

      Each image whispers secrets untold.
      Let your heart listen, let your mind unfold.
      Join our daily challenge and share the story you behold.
    </ion-card-content>
  </ion-card>

  <ion-card [routerLink]="['/tabs/tab3']" style="cursor: pointer">
    <ion-card-header>
      <ion-card-title>
        <h1>Explore and Practice</h1>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6" >
            <div class="gallery-image">
              <img alt="Silhouette of mountains"
                   src="/assets/artworks/explore/exp_1.png"/>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="gallery-image">
              <img alt="Silhouette of mountains"
                   src="/assets/artworks/explore/exp_2.png"/>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="gallery-image">
              <img alt="Silhouette of mountains"
                   src="/assets/artworks/explore/exp_3.png"/>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="gallery-image">
              <img alt="Silhouette of mountains"
                   src="/assets/artworks/explore/exp_4.png"/>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


</ion-content>
